[submodule "P2/udagram-api/feed-node"]
	path = P2/udagram-api/feed-node
	url = https://github.com/kin-cheung/feed-node.git
[submodule "P2/udagram-api/user-node"]
	path = P2/udagram-api/user-node
	url = https://github.com/kin-cheung/user-node.git
[submodule "P2/udagram-frontend"]
	path = P2/udagram-frontend
	url = https://github.com/kin-cheung/udagram-frontend.git

[submodule "P2/reverse-proxy"]
	path = P2/reverse-proxy
	url = https://github.com/kin-cheung/reverse-proxy.git
